<h2>Selecciona un formulario:</h2>
<mat-form-field appearance="fill">
  <mat-label>Formulario</mat-label>
  <mat-select (selectionChange)="onSelectForm($event.value)">
    <mat-option *ngFor="let form of allForms" [value]="form._id">
      {{ form.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<h2>{{ formData?.name }}</h2>
<p>{{ formData?.description }}</p>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div *ngFor="let field of formData?.fields">
    <mat-form-field appearance="fill">
      <mat-label>{{ field.label }}</mat-label>
      <input *ngIf="field.type === 'text'" matInput [id]="field.name" [formControlName]="field.name" [type]="field.type">
      <input *ngIf="field.type === 'email'" matInput [id]="field.name" [formControlName]="field.name" type="email">
      <mat-select *ngIf="field.type === 'select'" [formControlName]="field.name">
        <mat-option *ngFor="let val of field.values" [value]="val">
          {{ val }}
        </mat-option>
      </mat-select>
      <input *ngIf="field.type === 'date'" matInput [matDatepicker]="picker" [formControlName]="field.name">
      <mat-datepicker-toggle *ngIf="field.type === 'date'" matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" type="submit">Submit ID</button>
</form>

<!-- Tabla para mostrar los datos de las respuestas -->
<h2>Respuestas de Formularios</h2>
<table mat-table [dataSource]="allDataFormsResponse" class="mat-elevation-z8">

  <!-- Definir las columnas de la tabla -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Submit  </th>
    <td mat-cell *matCellDef="let response"> {{ response._id }} </td>
  </ng-container>

  <ng-container matColumnDef="values">
    <th mat-header-cell *matHeaderCellDef> Valores </th>
    <td mat-cell *matCellDef="let response"> 
      <span *ngFor="let field of response.fields">
        {{ field.name }}: {{ field.value }}<br>
      </span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

